#headerBarDiv
{
 position: fixed;
 top: 0;
 left: 0;
 height: 5%;
 width: 100%;
 //border: 4px solid white;
 background-color: black;
}

#bodyDiv 
{
 position: fixed;
 top: 5%;
 left: 0;
 height: 95%;
 width: 100%;
 background-image: url("Images/ghostShipBkgd.jpg");
 background-repeat: no-repeat;
 background-size: 100% 100%;
 overflow-y: scroll;
 
}

#navDiv
{
 position: fixed;
 top: 10%;
 left: 5%;
 height: 85%;
 width: 20%;
 background-color: rgba(213, 230, 229, 0.8);
 background-repeat: no-repeat;
 background-size: 100% 100%;
 overflow-y: scroll;	
}

#textDiv
{
 position: fixed;
 top: 10%;
 left: 30%;
 height: 85%;
 width: 65%;
 background-color: rgba(213, 230, 229, 0.8);
 background-repeat: no-repeat;
 background-size: 100% 100%;
 overflow-y: scroll;
}
 
.textSection
{
 background-color: rgba(0, 0, 255, 0.9);
 margin: 10px;
}

//Start of dropdown menu
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    //background-color: #898977; //unknown, grey
	list-style-type: none;
}

li 
{
    float: left;
	list-style-type: none;
	transform: translate(-50%, -50%);


}

li a, .dropbtn 
{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn 
{
    background-color: grey; //top level droppable buttons, grey
    color: #0e3c87;
}
//End of dropdown menu